---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Not Found">
  <p>
    The page you tried to access doesn't exist. In case you tried to access a
    distinct service, it's likely it doesn't exist yet, or hasn't been approved.
  </p>
</Layout>
