---
import Layout from "@layouts/Layout.astro";
---

<Layout title="Server Error">
  <p>
    An internal server error occured while rendering this page. Please <a
      href="/contact">contribute</a
    > by reporting this bug and describe the sequence of actions that lead you here.
  </p>
</Layout>
