---
import { actions } from "astro:actions";
import Layout from "@layouts/Layout.astro";
import Form from "@fancade-club/comps/forms/Form.astro";
import Input from "@fancade-club/comps/forms/Input.astro";
import Button from "@fancade-club/comps/forms/Button.astro";

if (Astro.locals.user) return Astro.redirect("/account");
---

<Layout title="Log In">
  <Form method="POST" action={"/" + actions.login}>
    <Input required name="slug" label="Username" />
    <Input required type="password" name="password" label="Password" />
    <Button>Log in</Button>
  </Form>
  <p>Not a member yet? <a href="/signup">Sign up</a>!</p>
</Layout>
