---
import Layout from "@layouts/Layout.astro";
import Form from "@fancade-club/comps/forms/Form.astro";
import Input from "@fancade-club/comps/forms/Input.astro";
import Button from "@fancade-club/comps/forms/Button.astro";
import Heading from "@fancade-club/comps/layouts/Heading.astro";
import { actions } from "astro:actions";

const { user } = Astro.locals;
if (!user) return Astro.redirect("/signup");
---

<Layout title="Settings">
  <Form method="POST" action={"/settings" + actions.settings}>
    <Input name="name" label="Display Name" value={user.name} />
    <Input name="slug" label="Username" value={user.slug} />
    <Input type="password" name="password" label="Password" />
    <Button>Update</Button>
  </Form>
  <Heading level={2} id="manage">Account Management</Heading>
  <Form>
    <Button formmethod="POST" formaction={"/signup" + actions.logout}
      >Log out</Button
    >
  </Form>
</Layout>

<script>
  import { slug } from "@lib/schema";

  const nameInput = document.getElementById("name-input") as HTMLInputElement;
  const slugInput = document.getElementById("slug-input") as HTMLInputElement;

  function setSlug(this: HTMLInputElement) {
    const { success, data } = slug().safeParse(this.value);
    if (success) slugInput.value = data;
  }

  nameInput.addEventListener("input", setSlug);
  slugInput.addEventListener("input", setSlug);
</script>
